{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>
<p>Welcome to Django snacks! <span> &#128075 </span> A site where you can add your favorite snacks.</p>
<h4>Sweet</h4>
<span style='font-size:30px;'>&#127815;</span>
<span style='font-size:30px;'>&#127821;</span>
<span style='font-size:30px;'>&#127827;</span>
<span style='font-size:30px;'>&#127823;</span>
<h4>Savory</h4>
<span style='font-size:30px;'>&#127833;</span>
<span style='font-size:30px;'>&#127839;</span>
<span style='font-size:30px;'>&#127829;</span>
<span style='font-size:30px;'>&#127790;</span>

{% endblock content %}